<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Basically</title>
</head>
<body>
  <form action="/links" method="POST">
    <input type="text" placeholder="link" name="link">
    <button type="submit">Submit</button>
  </form>
</body>
</html>
